
    
   body {
    margin: 0;
    padding: 0;
    /* Set the background image and size */
    background-image: url('./1.png');
    background-size: cover;
  }
  
  .container {
    position: relative;
    z-index: 1; /* Ensure the container is above the background */
  }
  
  /* Create an overlay with opacity */

    body::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(239, 192, 97, 0.082); /* Gray background color with 50% opacity */
      }
.container {
    position: relative;
    z-index: 10;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 60px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#predictionResult {
    margin-top: 20px;
}


.previewImage {
    max-width: 650px;
    max-height: 650px;
    margin-top: 10px;
}
